{% extends "layout.html" %}

{% block body %}
<table>
    <h1>Teams</h1>
  {% if current_user.is_authenticated %}
    <b>This table is PRIVATE.</b>
  {% else %}
    <b>This table is PRIVATE.</b>
    <p>Log in to get an access to your own PRIVATE table.</p>
  {% endif %}
    <p></p>
    <tr>
        <th>Team number</th>
        <th>Team name</th>
    </tr>
    <form method="POST" action="{{ url_for('teams_create') }}">
        <tr>
            <td></td>
            <td>{{ form.name }}</td>
            <td>
                <input type="submit" value="Add"/>
            </td>
            <td>
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
    </form>
    {% for team in teams %}
    <tr>
        <td>{{ team.id }}</td>
        <td>
            <a href="{{ url_for('teams_show', team_id=team.id) }}">{{ team.name }}</a>
        </td>
        <td>
            <form mehtod="POST" action = "{{ url_for('teams_delete', team_id=team.id) }}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>List sizes:</td>
        <td>{% for unit_number in unit_numbers %}{{ unit_number }}, {% endfor %}</th>        
    </tr>
    <tr>
        <th>Units in teams</th>
    </tr>
    <tr>
        <th>Team number</th>
        <th>Unit's name</th>
        <th>Unit's class</th>
    </tr>
    {% for unit in units %}
    <tr>
        <td>{{ unit.team_id }}</td>
        <td>{{ unit.name }}</td>
        <td>{{ unit.classGP }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
