{% extends "layout.html" %}

{% block body %}
<table>
    <h1>Teams</h1>
  {% if current_user.is_authenticated %}
    <b>This table is PRIVATE.</b>
  {% else %}
    <b>This table is PRIVATE.</b>
    <p>Log in to get an access to your own PRIVATE table.</p>
  {% endif %}
    <p></p>
    <tr>
        <th>Team name</th>
    </tr>
    <form method="POST" action="{{ url_for('teams_create') }}">
        <tr>
            <td>{{ form.name }}</td>
            <td>
                <input type="submit" value="Add"/>
            </td>
            <td>
                {% for error in form.name.errors %}<!--Casuses the team list to disappear and I can't fix it, so I guess it's a feature then.-->
                <li>{{ error }}</li>
                {% endfor %}
            </td>
        </tr>
    </form>
    {% for team in teams %}
    <tr>
        <td>
            <a href="{{ url_for('teams_show', team_id=team.id) }}">{{ team.name }}</a>
        </td>
        <td>
            <form mehtod="POST" action = "{{ url_for('teams_delete', team_id=team.id) }}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
