{% extends "layout.html" %}
  
{% block body %}
  <table>
      <h1>Edit</h1>
    {% for unit in units %}
    <form method="POST" action="{{ url_for('units_edit', unit_id=unit.id) }}">
    <tr>
      <th>{{ form.name.label }}</th>
      <th>{{ form.classGP.label }}</th>
      <th>{{ form.level.label }}</th>
    </tr>
    <tr>
      <td>
          {{ form.name(class="form-control") }}
      </td>
      <td>
          {{ form.classGP(class="form-control") }}
      </td>
      <td>
          {{ form.level(class="form-control") }}
      </td>
    </tr>
    <tr>
      <td>
        <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
      </td>
      <td>
          <ul>
              {% for error in form.classGP.errors %}
              <li>{{ error }}</li>
              {% endfor %}
          </ul>
        </td>
        <td>
            <ul>
                {% for error in form.level.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
          </td>
    </tr>
    <tr>
      <th>{{ form.hp.label }}</th>
      <th>{{ form.strength.label }}</th>
      <th>{{ form.magic.label }}</th>
      <th>{{ form.skill.label }}</th>
      <th>{{ form.speed.label }}</th>
      <th>{{ form.luck.label }}</th>
      <th>{{ form.defense.label }}</th>
      <th>{{ form.resistance.label }}</th>
      <th>{{ form.movement.label }}</th>
      </tr>
      <tr>
        <td>
            {{ form.hp }}
        </td>
        <td>
            {{ form.strength }}
        </td>
        <td>
            {{ form.magic }}
        </td>
        <td>
            {{ form.skill }}
        </td>
        <td>
            {{ form.speed }}
        </td>
        <td>
            {{ form.luck }}
        </td>
        <td>
            {{ form.defense }}
        </td>
        <td>
            {{ form.resistance }}
        </td>
        <td>
            {{ form.movement }}
        </td>
      </tr>
      <tr>
          <td>
              <ul>
                  {% for error in form.hp.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            </td>
          <td>
              <ul>
                  {% for error in form.strength.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
              </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.magic.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.skill.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.speed.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.luck.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.defense.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.resistance.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for error in form.movement.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              </td>
      </tr>
      <tr>
          <th>{{ form.hpGrowth.label }}</th>
          <th>{{ form.strengthGrowth.label }}</th>
          <th>{{ form.magicGrowth.label }}</th>
          <th>{{ form.skillGrowth.label }}</th>
          <th>{{ form.speedGrowth.label }}</th>
          <th>{{ form.luckGrowth.label }}</th>
          <th>{{ form.defenseGrowth.label }}</th>
          <th>{{ form.resistanceGrowth.label }}</th>
        </tr>
        <tr>
            <td>
                {{ form.hpGrowth }}
            </td>
            <td>
                {{ form.strengthGrowth }}
            </td>
            <td>
                {{ form.magicGrowth }}
            </td>
            <td>
                {{ form.skillGrowth }}
            </td>
            <td>
                {{ form.speedGrowth }}
            </td>
            <td>
                {{ form.luckGrowth }}
            </td>
            <td>
                {{ form.defenseGrowth }}
            </td>
            <td>
                {{ form.resistanceGrowth }}
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for error in form.hpGrowth.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              </td>
            <td>
                <ul>
                    {% for error in form.strengthGrowth.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.magicGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.skillGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.speedGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.luckGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.defenseGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
              <td>
                  <ul>
                      {% for error in form.resistanceGrowth.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
              </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save changes"/>
            </td>
        </tr>
    </form>
        {% endfor %}
  </table>
{% endblock %}
 
