{% extends "layout.html" %}

{% block body %}
  <table>
    <h1>Units</h1>
    {% if number_of_units is defined %}
    <p>{{number_of_units}} units in the database</p>
    {% endif %}
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Level</th>
        <th>HP</th>
        <th>Strength</th>
        <th>Magic</th>
        <th>Skill</th>
        <th>Speed</th>
        <th>Luck</th>
        <th>Defense</th>
        <th>Resistance</th>
        <th>Movement</th>
        <th>HP Growth Rate %</th>
        <th>Strength Growth Rate %</th>
        <th>Magic Growth Rate</th>
        <th>Skill Growth Rate %</th>
        <th>Speed Growth Rate %</th>
        <th>Luck Growth Rate %</th>
        <th>Defense Growth Rate %</th>
        <th>Resistance Growth Rate %</th>
    </tr>
    {% for unit in units %}
    <tr>
      <td>{{ unit.name }}</td>
      <td>{{ unit.classGP }}</td>
      <td>{{ unit.level }}</td>
      <td>{{ unit.hp }}</td>
      <td>{{ unit.strength }}</td>
      <td>{{ unit.magic }}</td>
      <td>{{ unit.skill }}</td>
      <td>{{ unit.speed }}</td>
      <td>{{ unit.luck }}</td>
      <td>{{ unit.defense }}</td>
      <td>{{ unit.resistance }}</td>
      <td>{{ unit.movement }}</td>
      <td>{{ unit.hpGrowth }}</td>
      <td>{{ unit.strengthGrowth }}</td>
      <td>{{ unit.magicGrowth }}</td>
      <td>{{ unit.skillGrowth }}</td>
      <td>{{ unit.speedGrowth }}</td>
      <td>{{ unit.luckGrowth }}</td>
      <td>{{ unit.defenseGrowth }}</td>
      <td>{{ unit.resistanceGrowth }}</td>
      <td>
        <form method="GET" action="{{ url_for('units_editForm', unit_id=unit.id) }}">
            <input type="submit" value="Edit"/>
          </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('units_delete', unit_id=unit.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
    </table>
    <h2>Best units in different stats</h2>
    <table>
    <tr>
      <th>Level</th>
      <td>{{best_unit_in_level}}</td>
    </tr>
    <tr>
      <th>HP</th>
      <td>{{best_unit_in_hp}}</td>
    </tr>
    <tr>
      <th>Strength</th>
      <td>{{best_unit_in_strength}}</td>
    </tr>
    <tr>
      <th>Magic</th>
      <td>{{best_unit_in_magic}}</td>
    </tr>
    <tr>
      <th>Skill</th>
      <td>{{best_unit_in_skill}}</td>
    </tr>
    <tr>
      <th>Speed</th>
      <td>{{best_unit_in_speed}}</td>
    </tr>
    <tr>
      <th>Luck</th>
      <td>{{best_unit_in_luck}}</td>
    </tr>
    <tr>
      <th>Defense</th>
      <td>{{best_unit_in_defense}}</td>
    </tr>
    <tr>
      <th>Resistance</th>
      <td>{{best_unit_in_resistance}}</td>
    </tr>
    <tr>
      <th>Movement</th>
      <td>{{best_unit_in_movement}}</td>
    </tr>
    <tr>
      <th>HP Growth Rate %</th>
      <td>{{best_unit_in_hpGrowth}}</td>
    </tr>
    <tr>
      <th>Strength Growth Rate %</th>
      <td>{{best_unit_in_strengthGrowth}}</td>
    </tr>
    <tr>
      <th>Magic Growth Rate %</th>
      <td>{{best_unit_in_magicGrowth}}</td>
    </tr>
    <tr>
      <th>Skill Growth Rate %</th>
      <td>{{best_unit_in_skillGrowth}}</td>
    </tr>
    <tr>
      <th>Speed Growth Rate %</th>
      <td>{{best_unit_in_speedGrowth}}</td>
    </tr>
    <tr>
      <th>Luck Growth Rate %</th>
      <td>{{best_unit_in_luckGrowth}}</td>
    </tr>
    <tr>
      <th>Defense Growth Rate %</th>
      <td>{{best_unit_in_defenseGrowth}}</td>
    </tr>
    <tr>
      <th>Resistance Growth Rate %</th>
      <td>{{best_unit_in_resistanceGrowth}}</td>
    </tr>
  </table>
{% endblock %}