{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('units_create') }}">
  <table>
    <tr>
      <th>{{ form.name.label }}</th>
      <th>{{ form.classGP.label }}</th>
      <th>{{ form.level.label }}</th>
    </tr>
    <tr>
      <td>
          {{ form.name }}
      </td>
      <td>
          {{ form.classGP }}
      </td>
      <td>
          {{ form.level }}
      </td>
    </tr>
    <tr>
      <th>{{ form.hp.label }}</th>
      <th>{{ form.strength.label }}</th>
      <th>{{ form.magic.label }}</th>
      <th>{{ form.skill.label }}</th>
      <th>{{ form.speed.label }}</th>
      <th>{{ form.luck.label }}</th>
      <th>{{ form.defense.label }}</th>
      <th>{{ form.resistance.label }}</th>
      <th>{{ form.movement.label }}</th>
      </tr>
      <tr>
        <td>
            {{ form.hp }}
        </td>
        <td>
            {{ form.strength }}
        </td>
        <td>
            {{ form.magic }}
        </td>
        <td>
            {{ form.skill }}
        </td>
        <td>
            {{ form.speed }}
        </td>
        <td>
            {{ form.luck }}
        </td>
        <td>
            {{ form.defense }}
        </td>
        <td>
            {{ form.resistance }}
        </td>
        <td>
            {{ form.movement }}
        </td>
      </tr>
      <tr>
          <th>{{ form.hpGrowth.label }}</th>
          <th>{{ form.strengthGrowth.label }}</th>
          <th>{{ form.magicGrowth.label }}</th>
          <th>{{ form.skillGrowth.label }}</th>
          <th>{{ form.speedGrowth.label }}</th>
          <th>{{ form.luckGrowth.label }}</th>
          <th>{{ form.defenseGrowth.label }}</th>
          <th>{{ form.resistanceGrowth.label }}</th>
        </tr>
        <tr>
            <td>
                {{ form.hpGrowth }}
            </td>
            <td>
                {{ form.strengthGrowth }}
            </td>
            <td>
                {{ form.magicGrowth }}
            </td>
            <td>
                {{ form.skillGrowth }}
            </td>
            <td>
                {{ form.speedGrowth }}
            </td>
            <td>
                {{ form.luckGrowth }}
            </td>
            <td>
                {{ form.defenseGrowth }}
            </td>
            <td>
                {{ form.resistanceGrowth }}
            </td>
        </tr>
  </table>
  <input type="submit" value="Add a new unit"/>
</form>
{% endblock %}
